1. Find out all the types of error that we have encountered in our lecture and why? Also include the examples.

- Answer
1. NameError : We have to write all the function names in defined format, variables in specified format. If we make mistake while writing functions or variable, python will give NameError

In [4]:
# Example
Print("Hello World")

NameError: name 'Print' is not defined

In [2]:
name="Rajesh"

In [3]:
naem

NameError: name 'naem' is not defined

2. SyntaxError: We have to write code in particular format. If we don't write code in particular format like if we forget any bracket in code python will give SyntaxError

In [6]:
# Example
int(12

SyntaxError: unexpected EOF while parsing (2607196811.py, line 2)

In [7]:
print(good morning)

SyntaxError: invalid syntax (3448225349.py, line 1)

In [8]:
print "good morning"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("good morning")? (2893841875.py, line 1)

In [9]:
print("Good
      Morning")

SyntaxError: EOL while scanning string literal (4114890425.py, line 1)

In [13]:
#python restricts to use some special characters
name* =10

SyntaxError: invalid syntax (1459202764.py, line 2)

3. NameError: If we try to concatenate str data type with any other data type then python will give TypeError

In [15]:
#Example
rajesh"+10

TypeError: can only concatenate str (not "int") to str

4. ValueError: While convesion of data type, in the value for which we want to do convesrion, if we don't pass same value with same data type then python will give ValueError

In [19]:
#Example
a="12.5"
b=int(a)

ValueError: invalid literal for int() with base 10: '12.5'

2. Take input A and B and print their sum, mul, div, square of the nos.

In [22]:
a=int(input("A:"))
b=int(input("B:"))
print(f"The sum of A and B is {a+b}")
print(f"The multiplication of A and B is {a*b}")
print(f"The division of A and B is {a/b}")
print(f"The square of A  is {a**2}")

A:20
B:5
The sum of A and B is 25
The multiplication of A and B is 100
The division of A and B is 4.0
The square of A  is 400

3. How many reserve keywords are there in python and why we should not use them as a variable name.

and
del
from
not
while    
as
elif
global
or
with     
assert
else
if
pass
yield    
break
except
import 
print              
class
exec
in
raise              
continue
finally
is
return 
def    
for
lambda
try

4. Create email ids with the user inputs. in the following format - lastname.firstname@gmail.com

In [24]:
first_name=input()
last_name=input()
print(f"{last_name}.{first_name}@gmail.com")

rajesh
patil
patil.rajesh@gmail.com

5. Try to print the following lines -
- Hi I'm Sunny
- My address is 22\3
- I earn 20$ daily.

In [25]:
print("""Hi I'm Sunny
My address is 22/3
I earn 20$ daily""")

Hi I'm Sunny
My address is 22/3
I earn 20$ daily

6. Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs

In [28]:
name= input("Name: ")
address=input("Address: ")
dob = input("Date of Birth: ")
print(f"{name}@gmail.com")

Name: Rajesh
Address: Alibag
Date of Birth: 29/10/1995
Rajesh@gmail.com

7. Convert the following -
- "22.4" into integer
- "22" into complex no.

In [32]:
a="22.4"
print(f"Data type before:{type(a)}")
a=int(float(a))
print(f"Data type after:{type(a)}")

Data type before:<class 'str'>
Data type after:<class 'int'>

In [33]:
a="22"
print(f"Data type before:{type(a)}")
a=complex(int(a))
print(f"Data type after:{type(a)}")

Data type before:<class 'str'>
Data type after:<class 'complex'>